.content-header {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    background-color: #ccc;
    padding: 20px;
    font-size: 40px;
    
  }